.empty .text {
    color: var(--gray-300);
}

.empty {
    color: var(--gray-400);
    border: 1px solid var(--gray-400);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 8px;
    margin-top: 1.5rem;
}

.icon {
    padding-top: 4rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.text {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-bottom: 4rem;
    text-align: center;
}